@{
    ViewData["Title"] = "Home Page";
}

<div style="width:100%; height:100%; display:flex; justify-content:center; align-items: center;">

    <h1 class="display-4 text-center">Веб-приложения для поддержки работы учебного отдела</h1>
</div>    

