<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KursachMikhalkevich</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <link rel="stylesheet" href="~/css/cdmenu.css"/>
    

</head>
<body>
    <header class="modal-header">
        Добро пожаловать @AuthorizedUser.GetUser()?.FIO()
    </header>
    <section class="cd-section">
        <button class="cd-bouncy-nav-trigger" href="#0">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </section>
    <div class="cd-bouncy-nav-modal">
        <nav>
            <ul class="cd-bouncy-nav">
                <li><a href="#home">Работники</a></li>
                <li><a href="#about">Должности</a></li>
                <li><a href="#services">Права доступа</a></li>
                <li><a href="#gallery">Квалификации</a></li>
                <li><a href="#team">Предметы</a></li>
                <li><a href="#contact">Группы</a></li>
                <li><a href="#contact">Студенты</a></li>
                <li><a href="#contact">Практики</a></li>
                <li><a href="#contact">Компании партнеры</a></li>
            </ul>
        </nav>
        <a href="#0" class="cd-close">Close modal</a>
    </div>
    <main class="myPlace">
            @RenderBody()        
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)



    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/cdmenu.js"></script>
</body>
</html>
